
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font: 15px "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    color: #000000;
    background: #ffffff;
    
}
header h1 {
    font-size: 28px; 
   
   }
.mainheader{
	margin-top: 25px
}   

.card {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
    
footer {
    background-color: #111;
    padding: 25px 0;
    color: #fff;
    text-transform: uppercase;
}
.navHeader{
	position: relative;
    min-height: 40px;
    /* margin-bottom: 20px; */
    border: 1px solid transparent;
    background-color: black;
}
.navHeader .col-sm-6 a{
	color: #fff;
    font-size: 18px;
    text-decoration: none;
}
.orange-bg {
    background-color: #f7941d;
}

.content-bg {
    background-color: #ffffff;
}
.btn { border-radius: 0; text-transform: uppercase; letter-spacing: 1px; }

.content-header-bg{ background-color: #afb0b4; }
.content-header-bg h2 { font-size: 24px; text-transform: uppercase; margin-top: 15px; }
.content-header-bg .btn { margin-top: 10px; }
.btn-rounded {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding: 0;
}

.table>thead>tr>th { padding: 16px 8px !important }
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(51, 122, 183, 0.05);
}

footer{ padding: 20px 0}


#breadcrumb {
  list-style: none;
  display: inline-block;
  margin: 20px 0;
}
#breadcrumb .icon {
  font-size: 14px;
}
#breadcrumb li {
  float: left;
}
#breadcrumb li a {
  color: #FFF;
  display: block;
  background: #afb0b4;
  text-decoration: none;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
}

#breadcrumb li:first-child a {
  padding-left: 15px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
#breadcrumb li:first-child a:before {
  border: none;
}
#breadcrumb li:last-child a {
  padding-right: 15px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
#breadcrumb li:last-child a:after {
  border: none;
}
#breadcrumb li a:before, #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #afb0b4;
  border-width: 20px 10px;
  width: 0;
  height: 0;
}

#breadcrumb li a:before {
  left: -20px;
  border-left-color: transparent;
}
#breadcrumb li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #afb0b4;
}
#breadcrumb li a:hover {
  background-color: #1abc9c;
}
#breadcrumb li a:hover:before {
  border-color: #1abc9c;
  border-left-color: transparent;
}
#breadcrumb li a:hover:after {
  border-left-color: #1abc9c;
}
#breadcrumb li a:active,  
#breadcrumb li a.active  {
  background-color: #16a085;
}
#breadcrumb li a:active:before, #breadcrumb li a.active:before {
  border-color: #16a085;
  border-left-color: transparent;
}
#breadcrumb li a:active:after, #breadcrumb li a.active:after {
  border-left-color: #16a085;
}

.form-control { border-radius: 0; height: 40px; }
label { margin-bottom: 10px;  font-weight: normal; }
.modal-content { border-radius: 0; }

.file {
  visibility: hidden;
  position: absolute;
}
.browse { height: 40px }

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #f7941d;
    background: #f7941d;
}


/* end .roundedTwo */
/* .squaredOne */
.squaredOne {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 5px;
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.squaredOne label {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: 4px;
  cursor: pointer;
  background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
  background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
}
.squaredOne label:after {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: 2px;
  background: #27ae60;

  opacity: 0;
}
.squaredOne label:hover::after {
  opacity: 0.3;
}
.squaredOne input[type=checkbox] {
  visibility: hidden;
}
.squaredOne input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    background: #f5f5f5;
}
.modal-footer .btn{

	min-width: 75px;
	font-size: 18px;
}

.panel{ border-radius: 0 }
.panel-heading{ border-radius: 0 }

.slideThree {
	width: 80px;
	height: 30px;
	background: #454545;
	margin: 5px 0;


	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}



.slideThree input[type=checkbox] { visibility: hidden; }
.slideThree:after {
	content: 'No';
	font-size: 16px;
	line-height: 30px;
	color: #000;
	position: absolute;
	right: 10px;
	z-index: 0;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.slideThree:before {
	content: 'Yes';
	font-size: 16px;
	line-height: 30px;
	color: #fff;
	position: absolute;
	left: 10px;
	z-index: 0;
	font-weight: bold;
}

.slideThree label {
	display: block;
	width: 36px;
	height: 24px;
	font-weight: normal;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 1;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideThree input[type=checkbox]:checked + label {
	left: 40px;
}

/*# sourceMappingURL=main.css.map */


